.chart-container {
    background-color: #FFE7CC;
    text-align: center;
    display: flex; 
    flex-wrap: wrap;
    /* height: 1rem; */
    margin-left: 15%;
    margin-right: 17%;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: 10px 5px 25px 10px black;
    border-radius: 25px;
  }