.chart-bar {
    height: 7rem;
    margin: 0;
    display: block;
    /* justify-content: flex-end; */
  }
  
  .chart-bar-tube {
    height: 70%;
    width: 5px;
    border: 1px solid #313131;
    background-color: white;
    overflow: hidden;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
  }
  
  .chart-bar-fill {
    background-color: red;
    width: 10px;
    transition: all 0.7s ease-out;
    margin: 0;
  }
  
  .chart-bar-label {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 25px;
    padding: 10px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0;
  }